---
import fetchApi from "@/lib/strapi";
import type { IArticle } from "@/types/article";
import QueryString from "qs";
import TitleWithDescription from "./TitleWithDescription.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;

const articles = await fetchApi<IArticle[]>({
  endpoint: "articles",
  wrappedByKey: "data",
  query: QueryString.stringify({
    populate: {
      seo: true,
      categories: true,
    },
  }),
});
---

<div class="flex flex-col items-start justify-center gap-6 py-24">
  <TitleWithDescription title={title} />
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
    {
      articles.map((article) => (
        <a
          href={article.attributes.title}
          class="flex gap-4 w-full group/article"
        >
          <div class="flex h-full w-1 bg-primary rounded-xl group-hover/article:w-2 transition-all" />
          <h3 class="text-base md:text-2xl font-semibold w-full line-clamp-3 group-hover/article:text-primary">
            {article.attributes.title}
          </h3>
        </a>
      ))
    }
  </div>
</div>
